trunk/Grimoires/wsdl/rdf.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="rdf"
	targetNamespace="http://www.grimoires.org/rdf"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.grimoires.org/rdf"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.grimoires.org/rdf"
			xmlns:tns="http://www.grimoires.org/rdf"
			elementFormDefault="qualified" 
			attributeFormDefault="unqualified">
			<xsd:element name="inquireRequest" type="tns:inquireRequest" />
			<xsd:complexType name="inquireRequest">
				<xsd:sequence>
					<xsd:element name="language" type="xsd:string" />
					<xsd:element name="clause" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="inquireResponse" type="tns:inquireResponse" />
			<xsd:complexType name="inquireResponse">
				<xsd:sequence>
					<xsd:element name="header" type="tns:record"/>
					<xsd:element name="record" type="tns:record" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="record">
				<xsd:sequence>
					<xsd:element name="field" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="inquireResponse">
		<wsdl:part element="tns:inquireResponse" name="inquireResponse" />
	</wsdl:message>
	<wsdl:message name="inquireRequest">
		<wsdl:part element="tns:inquireRequest" name="inquireRequest" />
	</wsdl:message>
	<wsdl:portType name="RDF">
		<wsdl:operation name="inquire">
			<wsdl:input message="tns:inquireRequest" />
			<wsdl:output message="tns:inquireResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="rdfSOAP" type="tns:RDF">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="inquire">
			<soap:operation
				soapAction="http://www.grimoires.org/rdf/inquire" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Grimoires">
		<wsdl:port binding="tns:rdfSOAP" name="rdfSOAP">
			<soap:address
				location="http://localhost:8080/grimoires/services/rdf" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
